/*  JavaScript 7th Edition
    Project 1
    

    Filename: style.css
*/
#paybutton {
  position:absolute;
  bottom: 5%;
  right:20%;
  margin-right: 325px;
  margin-bottom: 150px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: lightsteelblue;
    color: darkblue
  }

  body{
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
  }

  p{
    font-size: 16px;
  }



  /* Order Table Styles */

table#orderTable {
  margin: 30px 0px 0px 45px;
  width: 90%;
  border-collapse: collapse;
  color: black;
  font-size: 12px;
}


table#orderTable caption {
  font-size: 2em;
  text-align: left;
  color:black;
  font-weight: normal;
  margin-bottom: 20px;
}


table#orderTable td {
  height: 20px;
  vertical-align: top;
}


table#orderTable tr td:last-of-type input {
  text-align: right;
  border: none;
}

table#orderTable tr:nth-of-type(1) {
  border-top: 1px solid rgb(151, 151, 151);
  padding-top: 15px;
}

table#orderTable tr:nth-of-type(1) td {
  padding-top: 15px;
  padding-bottom: 15px;
}

table#orderTable tr:nth-of-type(2) td {
  padding-bottom: 15px;
}

table#orderTable tr:nth-of-type(2) {
  border-bottom: 1px solid rgb(151, 151, 151);
}

table#orderTable tr:nth-of-type(3) td {
  padding-top: 15px;
}

table#orderTable tr:nth-of-type(4) td {
  padding-top: 15px;
}

table#orderTable tr:nth-of-type(4) td {
  border-bottom: 4px double rgb(151, 151, 151);
  padding-bottom: 15px;
}

table#orderTable tr:last-of-type td {
  padding-top: 15px;
}

table#orderTable td.rightA {
  text-align: right;
  padding-right: 10px;
}

/* Payment Form Styles */

section#paySection {
  -webkit-flex: 1 1 550px;
  flex: 1 1 550px;
  border-left: 4px double rgb(101, 101, 101);   
  min-height: 300px;
  font-size: 14px;
}

section#paySection p#footnote {
  font-size: 1em;
  text-align: left;
  margin: 0px 10px 20px 140px;
}

section#paySection h1 {
  text-align: center;
  font-size: 2em;
  letter-spacing: 0.15em;
  margin: 20px 0px;
  font-weight: normal;
  color: rgb(57, 44, 28);
}

form#payment fieldset {
  border: none;
}



form#payment legend {
  font-size: 1.3em;
  padding: 8px;
  width: 80%;
  text-align: left;
  margin-left: 50px;
  margin-bottom: 20px;
  color: rgb(57, 44, 28);
}


/* Input and Label Styles */

form#payment label {
  display: block;
  float: left;
  clear: left;
  font-size: 1em;
  margin-bottom: 25px;
  margin-right: 10px;
  width: 140px;
  text-align: right;
  color: rgb(57, 44, 28);
}


form#payment input, form#payment select {
  display: block;
  float: left;
  box-shadow: 0px 0px 15px white;
}

/* Radio Button Styles */

form#payment label.cardLabel {
  display: inline-block;
  float: none;
  width: auto;
  text-align: left;
  margin-top: -10px;
}

form#payment fieldset#cards {
  display: block;
  float: left; 
}

form#payment fieldset#cards > span {
  display: inline-block;
  margin-left: 8px;
  width: 50px;
}



form#payment input[type='radio'] {
  display: inline-block;
  width: auto;
  float: none;
  clear: none;
}



span#separator {
  width: 30px;
  text-align: center;
  display: block;
  float: left;
}

form#payment input#cvc {
  width: 3em;
}

/* Valid and Invalid Styles */

input:invalid, input:focus:invalid, select:invalid, select:focus:invalid {
  outline: none;
}

input:valid, input:focus:valid, select:valid, select:focus:valid {
  outline: none;
  background-color: none;
}


  